<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dixie Horn</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>Church Bell Chime</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>Crazy Bizarre Guitar</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>Submarine Diving</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>FogHorn Barge</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>Meadowlark</key>
	<string>[http://soundbible.com]-Daniel Simion[Attribution 3.0]</string>
	<key>Tornado Siren II</key>
	<string>[http://soundbible.com]-Delilah[Attribution 3.0]</string>
	<key>Alarm Clock</key>
	<string>[http://soundbible.com]-Mike König[Attribution 3.0]</string>
</dict>
</plist>
