<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleDistanceMatrixBaseUrl</key>
	<string>https://maps.googleapis.com/maps/api/distancematrix/json</string>
	<key>TravelCalculationAPI</key>
	<integer>1</integer>
	<key>GoogleAPIKey</key>
	<string>AIzaSyBIHVLCzG1Lqujh9wHUHRixmLO5VpZ2w58</string>
</dict>
</plist>
